# ignore ALL files in ANY directory named .venv
.venv/
Legacy/
Test_scripts/
3D_corre_plot.py
Bfield_plot.py
Dia_FR_plot.py
Ellipticity_and_FR.py
gradB_plot.py
Lockins_freq_plot.py
main.py
power_plot_w_fit.py